@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.weather {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding: 50px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 25px;
}

.weather__header {
  width: 100%;
}

.weather__header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__time-sun span {
  display: block;
}

.weather__time-sunrise__time::before {
  content: 'Рассвет';
  margin-right: 15px;
}

.weather__time-sunset__time::before {
  content: 'Закат';
  margin-right: 15px;
}

.weather__city-name {
  font-weight: 700;
}

.weather__city-date {
  font-size: 45px;
}

.weather__midle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather__deg {
  font-size: 70px;
}

.weather__icon {
  width: 100px;
}

.weather__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__bottom-child {
  border: 2px solid #ffffff9e;
  border-radius: 25px;
  padding: 10px;
  font-size: 15px;
}

.weather__bottom-child + .weather__bottom-child {
  margin-left: 35px;
}

.weather-form__btn-search {
  background-color: transparent;
  border: none;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.weather-form__search {
  border-radius: 10px;
  border: none;
  padding: 0 23px;
  max-width: 400px;
  width: 17.5%;
  outline: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: transparent;
}

.weather-form__search:hover {
  cursor: pointer;
}

.weather-form__search:hover::-webkit-input-placeholder {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-form__search:hover:-ms-input-placeholder {
  transform: scale(1.1);
}

.weather-form__search:hover::-ms-input-placeholder {
  transform: scale(1.1);
}

.weather-form__search:hover::placeholder {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-form__search::-webkit-input-placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search:-ms-input-placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search::-ms-input-placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search::placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search:focus {
  width: 100%;
  padding: 10px;
  background-color: rgba(209, 208, 208, 0.322);
  cursor: auto;
  margin-bottom: 15px;
}

.weather-form__search:focus + .weather-form__btn-search {
  visibility: visible;
}

.weather-form__search:focus::-webkit-input-placeholder {
  font-size: 0;
}

.weather-form__search:focus:-ms-input-placeholder {
  font-size: 0;
}

.weather-form__search:focus::-ms-input-placeholder {
  font-size: 0;
}

.weather-form__search:focus::placeholder {
  font-size: 0;
}

.weather-form__btn-geolacation {
  background-color: transparent;
  font-size: 12px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 43px;
  border: none;
  cursor: pointer;
  color: #fff;
  display: block;
  position: relative;
  padding-left: 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__btn-geolacation:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-form__btn-geolacation::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  background-image: url("../img/geo.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro {
  max-height: 100vh;
  overflow: hidden;
}

.intro::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro__video {
  position: relative;
  z-index: 1;
}

.intro__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
/*# sourceMappingURL=style.css.map */