*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-size: 30px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.weather {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding: 50px 0;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 25px;
}

.weather__header {
  width: 80%;
  margin: 0 auto;
}

.weather__city-name {
  font-weight: 700;
}

.weather__midle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather__deg {
  font-size: 70px;
}

.weather__icon {
  width: 100px;
}

.weather__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__bottom-child {
  background-color: rgba(0, 0, 0, 0.233);
  border-radius: 25px;
  padding: 5px;
}

.weather__bottom-child + .weather__bottom-child {
  margin-left: 35px;
}

.weather-form__input-container {
  position: relative;
}

.weather-form__input-container::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.weather-form__search {
  border-radius: 10px;
  border: none;
  padding: 4px;
  max-width: 600px;
  width: 2.5%;
  outline: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.281);
}

.weather-form__search::-webkit-input-placeholder {
  font-size: 15px;
}

.weather-form__search:-ms-input-placeholder {
  font-size: 15px;
}

.weather-form__search::-ms-input-placeholder {
  font-size: 15px;
}

.weather-form__search::placeholder {
  font-size: 15px;
}

.weather-form__search:focus {
  width: 100%;
  padding: 10px;
}

.weather-form__btn-search {
  background-color: transparent;
  border: none;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.intro {
  max-height: 100vh;
  overflow: hidden;
}

.intro::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro__video {
  position: relative;
  z-index: 1;
}

.intro__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
/*# sourceMappingURL=style.css.map */