*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.intro {
    max-height: 100vh;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__video {
        position: relative;
        z-index: 1;
    }

    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }
}


$accent-color: #fff;

body {
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $accent-color;
}

img {
    max-width: 100%;
    display: block;
}

.swiper {
    max-width: 800px;
    width: 100%;
    height: 100px;
}

.swiper-wrapper {
    height: 50%;
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.weather {
    transform: translateY(50%);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 25px;

    &__header {
        width: 100%;
    }

    &__header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__time-sun {
        span {
            display: block;
        }
    }

    &__time-sunrise__time {
        &::before {
            content: 'Рассвет';
            margin-right: 15px;
        }
    }

    &__time-sunset__time {
        &::before {
            content: 'Закат';
            margin-right: 15px;
        }
    }

    &__city-name {
        font-weight: 700;
    }

    &__city-date {
        font-size: 45px;
    }

    &__midle {
        display: flex;
        justify-content: center;
    }

    &__deg {
        font-size: 70px;
    }

    &__icon {
        width: 100px;
    }

    &__bottom {
        width: 100%;
        min-width: 0;
    }

    &__bottom-child {
        border: 2px solid #ffffff9e;
        border-radius: 25px;
        padding: 10px;
        font-size: 15px;
        flex: none;
        min-width: 0;
        text-align: center;

    }
}

.swiper-button-next,
.swiper-button-prev {
    top: 85%;
}

.swiper-scrollbar-drag {
    background-color: #dbdbdb9c;
    transition: all .3s;
    cursor: grab;

    &:hover {
        background-color: #fff;
    }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 15%;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 150px;
}

.weather-form {
    &__btn-search {
        background-color: transparent;
        border: none;
        visibility: hidden;
        background-color: rgba(255, 255, 255, 0.11);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;

    }

    &__search {
        border-radius: 10px;
        border: none;
        padding-left: 25px;
        max-width: 400px;
        width: 17.5%;
        outline: none;
        transition: all .5s ease-in-out;
        background-color: transparent;

        &:hover {
            cursor: pointer;

            &::placeholder {
                transform: scale(1.1);
            }
        }

        &::placeholder {
            font-size: 15px;
            color: $accent-color;
            transition: all .3s;
        }

        &:focus {
            width: 100%;
            padding: 10px;
            background-color: rgba(209, 208, 208, 0.322);
            cursor: auto;
            margin-bottom: 15px;

            &+.weather-form__btn-search {
                visibility: visible;
            }

            &::placeholder {
                font-size: 0;
            }

        }

    }

    &__btn-geolacation {
        background-color: transparent;
        font-size: 12px;
        padding: 8px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 43px;
        border: none;
        cursor: pointer;
        color: $accent-color;
        display: block;
        position: relative;
        padding-left: 25px;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            background-image: url('../img/geo.svg');
            transform: translateY(-50%);
        }
    }

}


svg {
    width: 110px;
}

#smallcloud path {
    will-change: transform;
    animation: bgCloud 6s linear infinite;
}

#drop1 {
    animation: droplet 1s linear infinite;
}

#drop2 {
    animation: droplet 1s linear infinite 0.4s;
}

#drop3 {
    animation: droplet 1s linear infinite 0.8s;
}

#flake3 {
    animation: snow-flakes 3s linear infinite;
}

#flake1 {
    animation: snow-flakes 3s linear infinite 1.2s;
}

#flake2 {
    animation: snow-flakes 3s linear infinite 2s;
}

#mistrays path {
    opacity: 1;
}

#mistrays #ray2 {
    stroke-dashoffset: 5;
    stroke-dasharray: 5;
    animation: dashXs 9s linear forwards infinite;
}

#mistrays #ray4,
#ray5 {
    stroke-dashoffset: 20;
    stroke-dasharray: 20;
    animation: dashM 9s linear forwards infinite;
}

#mistrays #ray6,
#ray7 {
    stroke-dashoffset: 14;
    stroke-dasharray: 14;
    animation: dashS 9s linear forwards infinite;
}

#mistrays #ray1,
#ray3 {
    stroke-dashoffset: 27;
    stroke-dasharray: 27;
    animation: dashL 9s linear forwards infinite;
}

#sunRays,
#sunrays,
#SunGlobe {
    transform-origin: 50% 50%;
    animation: spin 20s linear infinite;
}

#totalSun {
    transform: translate(15px, -12px) scale(.9);
}

#thunder {
    animation: thunder-bolt 6s linear infinite;
}

#bigClouds path {
    animation: thunder-cloud 6s ease infinite;
}

#bigCloudRain path {
    animation: mainly-cloudy 6s ease infinite;
}


@keyframes bgCloud {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translate(9px, 0px);
        transform: translate(9px, 0px);
        opacity: 1;
    }

    70% {
        -webkit-transform: translate(27px, 0px);
        transform: translate(27px, 0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(45px, 0px);
        transform: translate(45px, 0px);
        opacity: 0;
    }
}

@keyframes droplet {
    0% {
        -webkit-transform: translate(0px, -35px);
        transform: translate(0px, -35px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translate(0px, -18px);
        transform: translate(0px, -18px);
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0px, 8px);
        transform: translate(0px, 8px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0px, 20px);
        transform: translate(0px, 20px);
        opacity: 0;
    }
}

@keyframes cloud-color {
    0% {
        fill: #F4F4F4;
    }

    50% {
        fill: #c4c4c4;
    }

    100% {
        fill: #F4F4F4;
    }
}

@keyframes mainly-cloudy {
    0% {
        fill: #F4F4F4;
    }

    50% {
        fill: #c4c4c4;
    }

    100% {
        fill: #3c4858;
    }
}

@keyframes snow-flakes {
    0% {
        -webkit-transform: translate(0px, -35px);
        transform: translate(0px, -35px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translate(-10px, -18px);
        transform: translate(-10px, -18px);
        opacity: 1;
    }

    40% {
        -webkit-transform: translate(0px, -8px);
        transform: translate(0px, -8px);
        opacity: 1;
    }

    60% {
        -webkit-transform: translate(10px, 0px);
        transform: translate(10px, 0px);
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0px, 8px);
        transform: translate(0px, 8px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(10px, 20px);
        transform: translate(10px, 20px);
        opacity: 0;
    }
}

@keyframes dashXs {
    0% {
        opacity: 0;
        stroke-dashoffset: 5;
    }

    50% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: -5;
    }
}

@keyframes dashS {
    0% {
        opacity: 0;
        stroke-dashoffset: 14;
    }

    50% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: -14;
    }
}

@keyframes dashM {
    0% {
        opacity: 0;
        stroke-dashoffset: -20;
    }

    50% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 20;
    }
}

@keyframes dashL {
    0% {
        opacity: 0;
        stroke-dashoffset: -27;
    }

    50% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 27;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes thunder-cloud {

    100%,
    0% {
        fill: #666;
    }

    20% {
        fill: #555;
    }

    21.5% {
        fill: #999;
    }

    25% {
        fill: #555;
    }

    27.5% {
        fill: #999;
    }

    30% {
        fill: #555;
    }

    40% {
        fill: #999;
    }

    90% {
        fill: #555;
    }
}

@keyframes thunder-bolt {


    0% {
        opacity: 0;
    }

    23% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }
}

@media(max-width: 985px) {
    .weather-form {
        &__search {
            width: 30%;

        }
    }

}

@media(max-width: 767px) {
    .swiper-slide {
        font-size: 12px;
    }

}

@media(max-width: 680px) {
    .weather {
        &__city-date {
            font-size: 35px;
        }

        &__time-sun {
            font-size: 17px;
        }
    }

    .weather-form {
        &__search {
            padding: 0;

            &:focus {
                width: 70%;
            }
        }
    }
}

@media(max-width: 492px) {
    .weather {
        padding: 30px;

        &__header-top {
            flex-direction: column-reverse;
        }

        &__deg {
            font-size: 50px;
        }

        &__city-date {
            font-size: 25px;
        }

        &__time-sun {
            font-size: 17px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__city-name {
            font-size: 35px;
        }
    }

    .weather-form {
        &__search {
            width: 41%;

            &:focus {
                width: 70%;
            }
        }
    }

    .swiper-slide {
        font-size: 14px;
    }

}

@media(max-width: 376px) {
    .weather {

        &__time-sunset__time,
        &__time-sunrise__time {
            &::before {
                margin-right: 7px;
            }
        }
    }
}