@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.intro {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.intro::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro__video {
  position: absolute;
  z-index: 1;
}

.intro__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

body {
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

.swiper {
  max-width: 800px;
  width: 100%;
  height: 100px;
}

.swiper-wrapper {
  height: 50%;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.weather {
  margin-top: 30%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 25px;
}

.weather__header {
  width: 100%;
}

.weather__header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__time-sun span {
  display: block;
}

.weather__time-sunrise__time::before {
  content: 'Рассвет';
  margin-right: 15px;
}

.weather__time-sunset__time::before {
  content: 'Закат';
  margin-right: 15px;
}

.weather__city-name {
  font-weight: 700;
}

.weather__city-date {
  font-size: 45px;
}

.weather__midle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather__deg {
  font-size: 70px;
}

.weather__icon {
  width: 100px;
}

.weather__bottom {
  width: 100%;
  min-width: 0;
}

.weather__bottom-child {
  border: 2px solid #ffffff9e;
  border-radius: 25px;
  padding: 10px;
  font-size: 15px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  min-width: 0;
  text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
  top: 85%;
}

.swiper-scrollbar-drag {
  background-color: #dbdbdb9c;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: -webkit-grab;
  cursor: grab;
}

.swiper-scrollbar-drag:hover {
  background-color: #fff;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 15%;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 150px;
}

.weather-form__btn-search {
  background-color: transparent;
  border: none;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.weather-form__search {
  border-radius: 10px;
  border: none;
  padding-left: 25px;
  max-width: 400px;
  width: 17.5%;
  outline: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: transparent;
}

.weather-form__search:hover {
  cursor: pointer;
}

.weather-form__search:hover::-webkit-input-placeholder {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-form__search:hover:-ms-input-placeholder {
  transform: scale(1.1);
}

.weather-form__search:hover::-ms-input-placeholder {
  transform: scale(1.1);
}

.weather-form__search:hover::placeholder {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-form__search::-webkit-input-placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search:-ms-input-placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search::-ms-input-placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search::placeholder {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__search:focus {
  width: 100%;
  padding: 10px;
  background-color: rgba(209, 208, 208, 0.322);
  cursor: auto;
  margin-bottom: 15px;
}

.weather-form__search:focus + .weather-form__btn-search {
  visibility: visible;
}

.weather-form__search:focus::-webkit-input-placeholder {
  font-size: 0;
}

.weather-form__search:focus:-ms-input-placeholder {
  font-size: 0;
}

.weather-form__search:focus::-ms-input-placeholder {
  font-size: 0;
}

.weather-form__search:focus::placeholder {
  font-size: 0;
}

.weather-form__btn-geolacation {
  background-color: transparent;
  font-size: 12px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 43px;
  border: none;
  cursor: pointer;
  color: #fff;
  display: block;
  position: relative;
  padding-left: 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.weather-form__btn-geolacation:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather-form__btn-geolacation::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  background-image: url("../img/geo.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

svg {
  width: 110px;
}

#smallcloud path {
  will-change: transform;
  -webkit-animation: bgCloud 6s linear infinite;
          animation: bgCloud 6s linear infinite;
}

#drop1 {
  -webkit-animation: droplet 1s linear infinite;
          animation: droplet 1s linear infinite;
}

#drop2 {
  -webkit-animation: droplet 1s linear infinite 0.4s;
          animation: droplet 1s linear infinite 0.4s;
}

#drop3 {
  -webkit-animation: droplet 1s linear infinite 0.8s;
          animation: droplet 1s linear infinite 0.8s;
}

#flake3 {
  -webkit-animation: snow-flakes 3s linear infinite;
          animation: snow-flakes 3s linear infinite;
}

#flake1 {
  -webkit-animation: snow-flakes 3s linear infinite 1.2s;
          animation: snow-flakes 3s linear infinite 1.2s;
}

#flake2 {
  -webkit-animation: snow-flakes 3s linear infinite 2s;
          animation: snow-flakes 3s linear infinite 2s;
}

#mistrays path {
  opacity: 1;
}

#mistrays #ray2 {
  stroke-dashoffset: 5;
  stroke-dasharray: 5;
  -webkit-animation: dashXs 9s linear forwards infinite;
          animation: dashXs 9s linear forwards infinite;
}

#mistrays #ray4,
#ray5 {
  stroke-dashoffset: 20;
  stroke-dasharray: 20;
  -webkit-animation: dashM 9s linear forwards infinite;
          animation: dashM 9s linear forwards infinite;
}

#mistrays #ray6,
#ray7 {
  stroke-dashoffset: 14;
  stroke-dasharray: 14;
  -webkit-animation: dashS 9s linear forwards infinite;
          animation: dashS 9s linear forwards infinite;
}

#mistrays #ray1,
#ray3 {
  stroke-dashoffset: 27;
  stroke-dasharray: 27;
  -webkit-animation: dashL 9s linear forwards infinite;
          animation: dashL 9s linear forwards infinite;
}

#sunRays,
#sunrays,
#SunGlobe {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin 20s linear infinite;
          animation: spin 20s linear infinite;
}

#totalSun {
  -webkit-transform: translate(15px, -12px) scale(0.9);
          transform: translate(15px, -12px) scale(0.9);
}

#thunder {
  -webkit-animation: thunder-bolt 6s linear infinite;
          animation: thunder-bolt 6s linear infinite;
}

#bigClouds path {
  -webkit-animation: thunder-cloud 6s ease infinite;
          animation: thunder-cloud 6s ease infinite;
}

#bigCloudRain path {
  -webkit-animation: mainly-cloudy 6s ease infinite;
          animation: mainly-cloudy 6s ease infinite;
}

@-webkit-keyframes bgCloud {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(9px, 0px);
    transform: translate(9px, 0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(27px, 0px);
    transform: translate(27px, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(45px, 0px);
    transform: translate(45px, 0px);
    opacity: 0;
  }
}

@keyframes bgCloud {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(9px, 0px);
    transform: translate(9px, 0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(27px, 0px);
    transform: translate(27px, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(45px, 0px);
    transform: translate(45px, 0px);
    opacity: 0;
  }
}

@-webkit-keyframes droplet {
  0% {
    -webkit-transform: translate(0px, -35px);
    transform: translate(0px, -35px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(0px, -18px);
    transform: translate(0px, -18px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    opacity: 0;
  }
}

@keyframes droplet {
  0% {
    -webkit-transform: translate(0px, -35px);
    transform: translate(0px, -35px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(0px, -18px);
    transform: translate(0px, -18px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    opacity: 0;
  }
}

@-webkit-keyframes cloud-color {
  0% {
    fill: #F4F4F4;
  }
  50% {
    fill: #c4c4c4;
  }
  100% {
    fill: #F4F4F4;
  }
}

@keyframes cloud-color {
  0% {
    fill: #F4F4F4;
  }
  50% {
    fill: #c4c4c4;
  }
  100% {
    fill: #F4F4F4;
  }
}

@-webkit-keyframes mainly-cloudy {
  0% {
    fill: #F4F4F4;
  }
  50% {
    fill: #c4c4c4;
  }
  100% {
    fill: #3c4858;
  }
}

@keyframes mainly-cloudy {
  0% {
    fill: #F4F4F4;
  }
  50% {
    fill: #c4c4c4;
  }
  100% {
    fill: #3c4858;
  }
}

@-webkit-keyframes snow-flakes {
  0% {
    -webkit-transform: translate(0px, -35px);
    transform: translate(0px, -35px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(0px, -8px);
    transform: translate(0px, -8px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(10px, 20px);
    transform: translate(10px, 20px);
    opacity: 0;
  }
}

@keyframes snow-flakes {
  0% {
    -webkit-transform: translate(0px, -35px);
    transform: translate(0px, -35px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(0px, -8px);
    transform: translate(0px, -8px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0px, 8px);
    transform: translate(0px, 8px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(10px, 20px);
    transform: translate(10px, 20px);
    opacity: 0;
  }
}

@-webkit-keyframes dashXs {
  0% {
    opacity: 0;
    stroke-dashoffset: 5;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: -5;
  }
}

@keyframes dashXs {
  0% {
    opacity: 0;
    stroke-dashoffset: 5;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: -5;
  }
}

@-webkit-keyframes dashS {
  0% {
    opacity: 0;
    stroke-dashoffset: 14;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: -14;
  }
}

@keyframes dashS {
  0% {
    opacity: 0;
    stroke-dashoffset: 14;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: -14;
  }
}

@-webkit-keyframes dashM {
  0% {
    opacity: 0;
    stroke-dashoffset: -20;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 20;
  }
}

@keyframes dashM {
  0% {
    opacity: 0;
    stroke-dashoffset: -20;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 20;
  }
}

@-webkit-keyframes dashL {
  0% {
    opacity: 0;
    stroke-dashoffset: -27;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 27;
  }
}

@keyframes dashL {
  0% {
    opacity: 0;
    stroke-dashoffset: -27;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 27;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes thunder-cloud {
  100%,
  0% {
    fill: #666;
  }
  20% {
    fill: #555;
  }
  21.5% {
    fill: #999;
  }
  25% {
    fill: #555;
  }
  27.5% {
    fill: #999;
  }
  30% {
    fill: #555;
  }
  40% {
    fill: #999;
  }
  90% {
    fill: #555;
  }
}

@keyframes thunder-cloud {
  100%,
  0% {
    fill: #666;
  }
  20% {
    fill: #555;
  }
  21.5% {
    fill: #999;
  }
  25% {
    fill: #555;
  }
  27.5% {
    fill: #999;
  }
  30% {
    fill: #555;
  }
  40% {
    fill: #999;
  }
  90% {
    fill: #555;
  }
}

@-webkit-keyframes thunder-bolt {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
}

@keyframes thunder-bolt {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
}

@media (max-width: 985px) {
  .weather-form__search {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    font-size: 12px;
  }
}

@media (max-width: 680px) {
  .weather__city-date {
    font-size: 35px;
  }
  .weather__time-sun {
    font-size: 17px;
  }
  .weather-form__search:focus {
    width: 70%;
  }
}

@media (max-width: 492px) {
  .weather {
    padding: 30px;
  }
  .weather__header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .weather__deg {
    font-size: 50px;
  }
  .weather__city-date {
    font-size: 25px;
  }
  .weather__time-sun {
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .weather__city-name {
    font-size: 35px;
  }
  .weather-form__search {
    width: 41%;
  }
  .weather-form__search:focus {
    width: 70%;
  }
  .swiper-slide {
    font-size: 14px;
  }
}

@media (max-width: 376px) {
  .weather__time-sunset__time::before, .weather__time-sunrise__time::before {
    margin-right: 7px;
  }
}
/*# sourceMappingURL=style.css.map */